@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 62.5%;
}

:root {
  /* TYPOGRAPHY */
  --fs-h1: 4rem;
  --fs-body: 1.6rem;
  --fs-small: 1.2rem;
  --ff-primary: 'Roboto', sans-serif;
  --fw-400: 400;
  --fw-700: 700;
  /* COLORS */
  --DARK: #242742;
  --WHITE: #fff;
  --TOMATO: #ff6155;
  --GRADIANT: linear-gradient(204deg, #ff6a3a 0%, #ff527b 100%);
  --BOX-SHADOW: 0px 16px 32px 0px rgba(255, 97, 85, 0.5);
}
@media screen and (min-width: 960px) {
  :root {
    --fs-h1: 5.6rem;
  }
}
body {
  font-size: var(--fs-body);
  font-family: var(--ff-primary);
  font-weight: var(--fw-400);
  line-height: 1.5;
}
img,
svg {
  display: block;
  width: 100%;
}
.vertical-spacer > * + * {
  margin-top: 1.5rem;
}
.icon {
  width: 21px;
}
.main-wrapper {
  max-width: 1140px;
}
.main-wrapper.show-main-wrapper {
  display: block;
}
.illustration {
  background: url('../images/illustration-sign-up-mobile.svg');
  background-position: bottom;
  background-size: cover;
  height: 284px;
}
.main-content {
  padding-inline: 2rem;
  padding-block: 4rem;
}
.main-content__details {
  color: var(--DARK);
}
.main-content__details h1 {
  margin: 0;
  font-size: var(--fs-h1);
  font-weight: var(--fw-700);
}
.details__list {
  list-style: none;
  margin-top: 2.2rem;
  margin-bottom: 4rem;
}
.list__item {
  display: flex;
  column-gap: 1.5rem;
  align-items: flex-start;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
}
.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.label-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.label-group label {
  font-size: var(--fs-small);
  font-weight: var(--fw-700);
}

input[type='email'] {
  border-radius: 8px;
  border: 1px solid rgba(25, 24, 43, 0.25);
  padding: 1.6rem 2.4rem;
  border-radius: 1rem;
  margin-bottom: 2.5rem;
  cursor: pointer;
}
input[type='email']:hover {
  border: 1px solid var(--DARK);
}
input[type='email']:focus {
  border: 1px solid var(--DARK);
}
input[type='email'].input-error {
  border: 1px solid var(--TOMATO);
  color: #ff6155;
  background: rgba(255, 97, 85, 0.15);
}
input[type='email']:focus.input-error {
  outline: 1px solid var(--TOMATO);
}
.error {
  font-size: var(--fs-small);
  color: #ff6155;
  font-weight: var(--fw-700);
  display: none;
}
.input-error::placeholder {
  color: #ff527b;
  font-weight: 700;
}
.display-error {
  display: block;
}

.btn-primary {
  padding: 1.4rem;
  background-color: var(--DARK);
  font-weight: var(--fw-700);
  color: var(--WHITE);
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 1rem;
}
.btn-primary:hover {
  background: var(--GRADIANT);
}
.success-container {
  display: none;
  max-width: 504px;
  margin-inline: auto;
  background: var(--WHITE);
  min-height: 80vh;

  flex-direction: column;
  justify-content: space-between;
  padding: 3rem 2rem;
}
.success-container.show-success-container {
  display: flex;
}
.success__details {
  margin-top: 10rem;
}
.success__details h1 {
  font-size: var(--fs-h1);
  font-weight: var(--fw-700);
  line-height: 1.1;
}
.icon-success {
  width: 64px;
  margin-bottom: 4rem;
}
.target-email {
  font-weight: var(--fw-700);
  cursor: pointer;
}
.target-email:hover {
  color: #ff6a3a;
}
@media screen and (min-width: 960px) {
  body {
    background: #36384d;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .main-wrapper {
    border-radius: 3.6rem;
    width: 100%;
    max-width: 928px;
    background: #fff;
    display: flex;
    flex-direction: row-reverse;
    column-gap: 3rem;
    padding: 1.6rem;
  }
  .illustration {
    width: 400px;
    border-radius: 1.6rem;
    height: 593px;
    max-height: auto;
  }
  .main-content {
    padding-inline: 4rem;
  }
  .success-container {
    min-height: auto;
    border-radius: 3.6rem;
    padding: 4rem 6.4rem;
    gap: 3.5rem;
  }
  .success__details {
    margin-top: 0;
  }
}
